nano.properties, www.nano.properties {
	redir https://s.nano.properties 302
}

auth.nano.properties {
	reverse_proxy 127.0.0.1:3500 {
		header_up Host {host}
		header_up X-Real-IP {client_ip}
	}
}

i.nano.properties, ineffa.nano.properties {
	reverse_proxy 127.0.0.1:3000 {
		header_up Host {host}
		header_up X-Real-IP {client_ip}
	}
}

claw.nano.properties {
	reverse_proxy 127.0.0.1:18789 {
		header_up Host {host}
		header_up X-Real-IP {client_ip}
	}
}

s.nano.properties, static.nano.properties {
    root * ./html
    try_files {path} {path}/index.html
    file_server browse
}

tun.nano.properties {
	handle {
		forward_auth 127.0.0.1:3500 {
			uri /api/protected
			header_up Host auth.nano.properties
			header_up X-Original-URI {scheme}://{host}{uri}
			@error status 401 403
			handle_response @error {
				redir https://auth.nano.properties/login?redirect={scheme}%3A%2F%2F{host}{%uri}
			}
		}
		reverse_proxy 127.0.0.1:5500 {
			header_up Host {host}
			header_up X-Real-IP {client_ip}
		}
	}
}

code.nano.properties {
	@bypass path /ws/*
	handle @bypass {
		reverse_proxy 127.0.0.1:32100 {
			header_up Host {host}
			header_up X-Real-IP {client_ip}
		}
	}
	handle {
		forward_auth 127.0.0.1:3500 {
			uri /api/protected
			header_up Host auth.nano.properties
			header_up X-Original-URI {scheme}://{host}{uri}
			@error status 401 403
			handle_response @error {
				redir https://auth.nano.properties/login?redirect={scheme}%3A%2F%2F{host}{%uri}
			}
		}

		reverse_proxy 127.0.0.1:32100 {
			header_up Host {host}
			header_up X-Real-IP {client_ip}
		}
	}
}

pai.mn, www.pai.mn {
	reverse_proxy 127.0.0.1:3300 {
		header_up Host {host}
		header_up X-Real-IP {client_ip}
	}
}

ai.pai.mn {
	reverse_proxy 127.0.0.1:5090 {
		header_up Host {host}
		header_up X-Real-IP {client_ip}
	}
}

tokenai.dev, www.tokenai.dev {
	reverse_proxy 127.0.0.1:6200 {
		header_up Host {host}
		header_up X-Real-IP {client_ip}
	}
}

sp.nano.properties {
	reverse_proxy 127.0.0.1:1088 {
		header_up Host {host}
		header_up X-Real-IP {client_ip}
	}
}
