ada.nano-props.asia {
        @bypass path /ws/*
        handle @bypass {
                reverse_proxy 127.0.0.1:32100
        }
        handle {
                reverse_proxy 127.0.0.1:32100
        }
}

herta.nano-props.asia {
        @bypass path /ws/*
        handle @bypass {
                reverse_proxy 127.0.0.1:32101
        }
        handle {
                reverse_proxy 127.0.0.1:32101
        }
}

dsh.nano.properties {
	handle {
		forward_auth 127.0.0.1:3500 {
			uri /api/protected
			header_up Host auth.nano.properties
			@error status 401 403
			handle_response @error {
				redir https://auth.nano.properties/login?redirect={scheme}%3A%2F%2F{host}{%uri}
			}
		}

		reverse_proxy 127.0.0.1:3080 {
			header_up Host 127.0.0.1:3080
			header_up Origin http://127.0.0.1:3080
			header_up Sec-Fetch-Site same-origin
		}
	}
}

# -----------------------------------------------------------------------------

nano.properties, www.nano.properties {
	redir https://s.nano.properties 302
}

auth.nano.properties {
	reverse_proxy 127.0.0.1:3500
}

i.nano.properties, ineffa.nano.properties {
	reverse_proxy 127.0.0.1:3000
}

s.nano.properties, static.nano.properties {
    root * ./html
    try_files {path} {path}/index.html
    file_server browse
}

frp.nano.properties {
	handle {
		forward_auth 127.0.0.1:3500 {
			uri /api/protected
			header_up Host auth.nano.properties
			@error status 401 403
			handle_response @error {
				redir https://auth.nano.properties/login?redirect={scheme}%3A%2F%2F{host}{%uri}
			}
		}
		reverse_proxy 127.0.0.1:5500
	}
}

code.nano.properties {
	@bypass path /pty/* /site.webmanifest
	handle @bypass {
		reverse_proxy 127.0.0.1:4096
	}
	handle {
		forward_auth 127.0.0.1:3500 {
			uri /api/protected
			header_up Host auth.nano.properties
			@error status 401 403
			handle_response @error {
				redir https://auth.nano.properties/login?redirect={scheme}%3A%2F%2F{host}{%uri}
			}
		}

		reverse_proxy 127.0.0.1:4096
	}
}

# -----------------------------------------------------------------------------

pai.mn, www.pai.mn {
	reverse_proxy 127.0.0.1:3300
}

ai.pai.mn {
	reverse_proxy 127.0.0.1:5090
}

# -----------------------------------------------------------------------------

tokenai.dev, www.tokenai.dev {
	reverse_proxy 127.0.0.1:6200
}

# -----------------------------------------------------------------------------
